[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dnspython = "*"
sqlalchemy = "*"
orjson = "*"
aiosqlite = "*"
fastapi = "*"
asyncpg = "*"
pysimdjson = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.10"
