<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <title>🚀ADNS</title>
    </head>
    <body onload="openNav()">
        <button id="navshow" onclick="openNav()">=</button>
        <div id="nav" class="nav">
            <ul>
                <li><a href="index"><button>Home</button></a></li>
                <li><a href="block"><button>Block</button></a></li>
                <li><a href="route"><button>Route</button></a></li>
                <li><a href="toggleONOFF"><button>Turn On/Off</button></a></li>
            </ul>
        </div>
        <div class="card" id="content">
            <h3>Welcome to the ADNS Control Center</h3>
        </div>
    </body>
    <script type="text/javascript" src="js/nav.js"></script>
</html>