* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

body {
    background: rgb(39, 39, 39);
}

#logo {
    font-size: 36px;
    color: #bbbfc4;
    width: 200px;
}

#navshow {
    z-index: 1;
    color: #bbbfc4;
    position: absolute;
    margin-left: 0px;
    z-index: 2;
    transition: 0.8s;
    backdrop-filter: blur(2px);
    border: none;
}

.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    backdrop-filter: blur(2px);
    z-index: 1;
    transition: 0.8s;
}

.nav ul {
    text-align: center;
    align-items: center;
    margin-top: 50%;
    overflow: hidden;
}

.nav ul li {
    display: inline-block;
}

.nav ul li a button{
    margin: 10px;
    border: none;
    background-color: transparent;
    color: #bbbfc4;
}

.card {
    color: #bbbfc4;
    background-color: #4e4e50;
    border-radius: 10px;
    margin: 10px 10px 50px 50px;
    padding: 10px;
}