* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}
#logo {
    font-size: 36px;
    color: #e8edff;
    width: 200px;
}
#navshow {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    padding: 10px;
    transition: 0.5s;
    background-color: #1c2235;
    border: none;
    border-radius: 0 10px 10px 0;
    box-shadow: 1px 0px 10px #1c2235;
}
#content {
    margin: 50px;
    color: #1c2235;
    border-radius: 10px;
}
.nav {
    width: 0px;
    height: 100%;
    position: fixed;
    background-color: #1c2235;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 1px 0px 10px #1c2235;
}
.nav ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
}
.nav ul li button {
    color: #e8edff;
    background-color: transparent;
    border: none;
    width: 200px;
    box-shadow: 0px 0px 0px #e8edff;
    transition: 0.5s;
    padding: 10px;
}
.nav ul li a button:hover {
    color: black;
    background-color: #e8edff;
    box-shadow: 0px 0px 2px #e8edff;
}